.btn-ghost {
  color: #ffffff;
  border: 3px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: fit-content;
  margin-right: 8px;
  margin-left: 8px;
}

.btn-ghost:hover {
  opacity: 1;
  font-weight: bold;
}
